
.imagePreview {
  width: 80%;
  height: 200px;
  background-position: center center;
  background:url('../img/blank.png');
  background-color:#fff;
    background-size: cover;
  background-repeat:no-repeat;
  border-radius: 50%;
  display: inline-block;
  box-shadow:0px -3px 6px 2px rgba(136, 135, 135, 0.2);
}
.btn-primary
{
  display:block;
  border-radius:0px;
  box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
  margin-top:-5px;
}
.imgUp
{
  margin-bottom:15px;
}
.del
{
  position:absolute;
  top:0px;
  right:15px;
  width:30px;
  height:30px;
  text-align:center;
  line-height:30px;
  background-color:rgba(255,255,255,0.6);
  cursor:pointer;
}
